.wrapper{
    font-size:1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;
   
    +.wrapper{
        margin-left: 16px;
    }
    &.disable{
        pointer-events: none;
        opacity: 0.5;
    }
}
//Button style
.primary{
    color: var(--white);
    background-color: var(--primary);
    &:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
    }
}
.outline{
    color:rgb(254, 44, 85);
    border: 1px solid var(--primary);
    background-color: transparent ;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    &:hover{
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.text{
    background-color: transparent;
    &:hover{
        text-decoration: underline;
    }
}
//Button size
.small{
    min-width: 88px;
    padding: 4px 16px;
}

.large{
    padding:14px 16px;
    min-width:148px;
}